*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: #928cff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.inputs{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
h2{
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
}
.data{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
.data input{
    padding: 4px;
    outline: none;
    border: 1px solid #928cff;
}
.data button{
    background: #928cff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
}
.list .box{
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
.item{
    background: #928cff;
    padding: 10px;
    margin: 4px;
    cursor: pointer;
    color: white;
}